:root{
    --principal: #4bd1a0;
    --letras: #114245;
}

*{
    padding: 0;
    margin: 0;
    
    font-family: 'Poppins', sans-serif;
}

.title{
    margin: 5px 30px;
    padding: 10px;
    display: block;
    color: #114245;
}

/* FORMULARIO DE ALTAS */

#form-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 15px 20px;
    padding: 10px 15px;
    box-shadow: 0px 0px 20px 5px #0004;
    background-color: #222;
    color: var(--principal);
    border-radius: 10px;
    letter-spacing: 0.5px;
    grid-gap: 10px;
}

#form-productos div{
    display: flex;
    flex-direction: column;
    
}

label{
    margin: 10px 0;
    font-weight: bold;
}

label span{
    font-size: 0.7rem;
    font-weight: lighter;
}

#formProductos div input{
    width: 100%;
}

input[type=text],
input[type=number]{
    /* width: 500px; */
    margin-bottom: 10px;
    font-size: 0.9rem;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

input[type=text]:focus,
input[type=number]:focus{
    outline: none;
}

.check-btns{
    margin: 10px 0px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=submit]{
    padding: 15px;
    width: 40%;
    font-size: 0.9rem;
    font-weight: bold;
    border: 2px solid var(--principal);
    border-radius: 5px;
    color: var(--letras);
    background-color: #fff;
    transition: 0.2s all;
    margin-top: 10px;
}

input[type=submit]:hover{
    cursor: pointer;
    background-color: #222;
    color: var(--principal);
}

#add{
    grid-row: 3/4;
}

/* ESTILO DE LA TABLA */

.table-container{
    margin: 5px;
}



.table-container table{
    font-size: 0.8rem;
    border-radius: 10px;
}

.title-columns td{
    background-color: var(--principal);
    color: #fff;
}

td{
    outline: 1px solid #fff;
    border-collapse: collapse;
    
}

tr{
   display: grid;
   grid-template-columns: repeat(9, 1fr);
}


td{
    padding: 10px;
    text-align: justify;
}

#img-text{
    word-break: break-all;
}

.edit{
   grid-template-columns: repeat(8, 1fr);
}

@media screen and (max-width:1115px) {
    #form-productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #add{
        grid-row: 5/6;
    }
}

@media screen and (max-width:715px) {
    #form-productos{
        display: grid;
        grid-template-columns: 1fr;
    }
    #add{
        grid-row: span 1;
    }
}

@media screen and (max-width:530px) {
    #form-productos div input{
        width: 100%;
    }
    #add{
        font-size: 0.6rem;
    }
}