:root{
    --principal: #4bd1a0;
    --letras: #114245;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.panel{
    margin: 20px 30%;
    padding: 15px;
    background-color: #222;
    box-shadow: 0px 0px 20px 5px #0004;
    color: var(--principal);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.btn{
    padding: 10px 15px;
    background-color: #fff;
    color: var(--letras);
    border: 2px solid var(--principal);
    align-self: center;
}

#tarjetaProducto{
    width: 288px;
    align-self: center;   
}

.card-body{
    color: var(--letras);
}

.btn:hover{
    background-color: transparent;
    color: var(--principal);
    border: 2px solid var(--principal);
    
}

.info{
    margin: 15px;
    padding: 15px;
    background-color: var(--letras);
    color: #fff;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .panel{
        margin: 20px 20%;
    }
}

@media screen and (max-width: 600px) {
    .panel{
        margin: 20px 5%;
    }
}