:root{
    --principal: #4bd1a0;
    --letras: #114245;
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#cards_landscape_wrap-2{
    background-color: #fff;
}

.container{
    background-color: #fff;
    padding: 10px;
}

.text-box{
    background-color: #222;
    color: var(--principal);
    border-radius: 5px;
}

.card-body{
    display: flex !important;
    flex-direction: column;
}

.card-text{
    margin-bottom: 10px;
    color: #eee !important;
    padding: 10px;
}

.desc{
    flex: 1;
}

.btn{
    padding: 10px 15px;
    background-color: #fff;
    color: var(--letras);
    border: 2px solid var(--principal);
    align-self: center;
    margin: 15px;
}

.btn:hover{
    background-color: transparent;
    color: var(--principal);
    border: 2px solid var(--principal);
    
}