:root{
    --principal: #4bd1a0;
    --letras: #114245;
    --secundario: #36A892;
}

.main-header{
    margin: 10px;
    padding: 10px 0 !important;
    display: flex !important;
    justify-content: space-around !important;
    border-radius: 10px;
    background: linear-gradient(135deg, var(--principal), var(--secundario)) !important;
    position: sticky !important;
    z-index: 5;
    top: 10px;
}


.main-header .container-nav{
    align-self: center !important;
    margin: 0px 110px;
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.nav-link{
    color: #eee;
    font-family: 'Poppins', sans-serif !important;
}

.navbar-nav .nav-link{
    color: #eee;
}

.d-flex{
    display: flex;
    gap: 10px;
}

.d-flex a{
    color: #eee;
}