:root{
    --principal: #4bd1a0;
    --letras: #114245;
    --secundario: #36A892;
}

.navbar{
    margin: 10px;
    padding: 0;
    display: flex !important;
    justify-content: center !important;
    border-radius: 10px;
    background: linear-gradient(135deg, #111e, #333e);
}


.navbar .container{
    align-self: center !important;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.nav-link{
    color: #eee;
}

.d-flex{
    display: flex;
    gap: 10px;
}

.d-flex a{
    color: #eee;
}