@media screen and (max-width: 535px){
    .input-group{
        flex-direction: column;
    }

    .button{
        align-self: flex-start;
    }
}

@media screen and (max-width: 305px){
    .input{
        width: 220px;
    }
}