:root{
    --principal: #4bd1a0;
    --letras: #114245;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    background-color: var(--principal);
    color: #fff;
    text-align: center;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

form{
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--principal);
    background-color: #222;
    color: var(--principal);
    border-radius: 10px;
}

form label{
    padding: 5px 15px;
}

.form-control:focus{
    outline: none;
}

.btn{
    background-color: #fff;
    color: var(--letras);
    border: 2px solid var(--principal);
}

.btn:hover{
    background-color: transparent;
    color: var(--principal);
    border: 2px solid var(--principal);
}

.alert{
    margin: 5px 15px;
}

a{
    margin: 0 15px;
}