:root{
    --principal: #4bd1a0;
    --letras: #114245;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    color: #fff;
}

h2{
    padding: 15px;
    margin: 10px 30px;
    background-color: #702;
    border-radius: 10px;
    text-align: center;
}

p{
    margin: 0 30px;
    padding: 10px;
    border: 2px solid var(--principal);
    color: var(--letras);
    border-radius: 10px;
}

p > a, p > a:visited{
    color: #999;
}