@media screen and (max-width: 600px) {
    .thanks h1{
        font-size: 5rem;
    }

    .card-category{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 465px){
    .green{
        font-size: 6rem;
    }
}

@media screen and (max-width: 400px) {
    .thanks h1{
        font-size: 2rem;
    }

    .adv h1{
        font-size: 4.3rem;
    }
}

@media screen and (max-width: 415px){
    .green{
        font-size: 3.7rem;
    }
}