:root{
    --principal: #4bd1a0;
    --letras: #114245;
    --secundario: #36A892;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

body{
    background: linear-gradient(135deg, #111, #333);
}


header{
    background-color: transparent;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    
}

header span{
    font-family: 'Bayon', 'Poppins', sans-serif;
    letter-spacing: 8px;
    margin: 10px;
    text-align: center;
}

.green{
    font-size: 7rem;
    background-color: var(--letras);
    color: #000;
}

.white{
    font-size: 4rem;
    background-color: #fff;
    color: #000;
}

.normal{
    font-size: 2.5rem;
    color: #fff;
}

.adv{
    background: transparent;
    padding: 15px;
    margin: 10px 10px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px 2px #0007; */
    text-align: center;
    color: var(--principal);
}

.adv h1{
    font-family: 'Bayon', 'Poppins', sans-serif;
    font-size: 7rem;
}

.adv p{
    font-size: 2.3rem;
}

.card-category{
    background: transparent;
    border: 2px solid var(--principal);
    display: flex;
    margin: 10px 10px;
    justify-content: space-evenly;
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px 2px #0007; */
    
}

.category{
    background: transparent;
    padding: 30px;
    width: 100%;
    margin: 20px;
    text-align: center;
    color: var(--principal);
}

.category h3{
    font-family: 'Bayon', 'Poppins', sans-serif;
    font-size: 2.3rem;
}

.category a{
    color: var(--principal);
    text-decoration: none;
}

#container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px;
    padding: 15px;
    background: linear-gradient(30deg, var(--principal), var(--secundario));
    color: #eee;
    /* box-shadow: 0px 0px 10px 2px #0007; */
    border-radius: 10px;
}

#container form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

#carouselExampleControls{
    margin: 20px 0;
}

.d-block{
    height: 40%;
    width: 100%;
}

.thanks{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
    background: transparent;
    margin-bottom: 10px;
}

.thanks h1{
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
    background-image: url(../img/bottom-img.jpg);
    background-size: 65%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Bayon', sans-serif;
    letter-spacing: 6px;
    filter: grayscale(1) contrast(200%);
    
}